* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

html, body {
  font-family: Poppins, sans-serif;
}

header {
  background-color: lightcyan;
  margin-bottom: 15px;
}

header > h1 {
  text-align: center;
  padding: 15px 0;
  color: darkcyan;
}

section {
  margin: 0 15px;
}

section > h2 {
  margin: 0;
}

.main {
  line-height: -50px;
}

.main--container > form {
  display: flex;
  justify-content: space-around;
}

.input--form {
  margin: 15px 0;
}

.text--input {
  width: 1200px;
  font-size: 1rem;
  padding: 7px;
  border: 2px solid darkcyan;
  border-radius: 5px;
  
}

.text--input:focus {
  background-color: lightcyan;
  border: 2px solid grey;
  outline: none;
}

button {
  padding: 10px;
  color: darkcyan;
  background-color: lightcyan;
  border: 1px solid darkcyan;
  font-size: medium;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.delete--btn {
  background-color: darkcyan;
  border-radius: 5px;
  cursor: pointer;
}

.delete--btn:hover {
  background-color: red;
}


.output {
  display: flex;
  gap: 5px;
  margin: 0 20px 8px;
  align-items: center;
}

.list--header {
  margin: 0 15px;
}

.no--todos {
  text-align: center;
}